In [2]:
import pandas as pd
import matplotlib.pyplot as plt

# Load the dataset
file_path = '../data/BrentOilPrices.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the dataset
data.head()

        Date  Price
0  20-May-87  18.63
1  21-May-87  18.45
2  22-May-87  18.55
3  25-May-87  18.60
4  26-May-87  18.63

 Inspect the dataset

In [3]:
# Inspect the dataset for missing values and data types
data.info()
data.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9011 entries, 0 to 9010
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    9011 non-null   object
 1   Price   9011 non-null   float64
dtypes: float64(1), object(1)
memory usage: 140.9+ KB

Date     0
Price    0
dtype: int64

In [4]:
missing_values = data.isnull().sum()
print(missing_values)

Date     0
Price    0
dtype: int64

Data Preprocessing

In [5]:
# Convert the 'Date' column to datetime format
data['Date'] = pd.to_datetime(data['Date'], format='mixed')

# Sort the data by date
data = data.sort_values(by='Date')

# Reset index after sorting
data.reset_index(drop=True, inplace=True)

Exploratory Data Analysis (EDA)

In [6]:
# Basic Statistics:
basic_statistics = data.describe()
print(basic_statistics)

                                Date        Price
count                           9011  9011.000000
mean   2005-02-10 23:46:53.760958720    48.420782
min              1987-05-20 00:00:00     9.100000
25%              1996-03-20 12:00:00    19.050000
50%              2005-02-02 00:00:00    38.570000
75%              2014-01-09 12:00:00    70.090000
max              2022-11-14 00:00:00   143.950000
std                              NaN    32.860110