In [29]:
import os,sys

In [30]:
# Get the absolute path of the parent directory
rpath = os.path.abspath('..')
if rpath not in sys.path:
    sys.path.insert(0, rpath)

In [31]:
# Add the 'scripts' directory to the Python path for module imports
sys.path.append(os.path.abspath(os.path.join('..', 'scripts')))

# import script for preprocessing
from scripts.utils import *

In [32]:
# Instantiate the DataAnalyzer class
data_extracter = DataAnalyizer()

In [33]:
# featch world gdp
data_extracter.fetch_world_data()

Fetching world data...
Fetch complete. Data type: <class 'wbdata.client.DataFrame'>
World data fetched and filtered by date successfully.
        date  GDP Growth (%)  Inflation Rate (%)  Unemployment Rate (%)  \
0 2023-01-01        2.719333            5.691153               4.961431
1 2022-01-01        3.089607            7.967574               5.264616
2 2021-01-01        6.259851            3.466926               6.033761
3 2020-01-01       -2.932043            1.920968               6.585288
4 2019-01-01        2.642216            2.206073               5.582980

  Exchange Rate (USD)
0                None
1                None
2                None
3                None
4                None
Data saved to 'world_data.csv'.

In [34]:
data_extracter.resample_to_daily()

World data resampled to daily frequency.
            GDP Growth (%)  Inflation Rate (%)  Unemployment Rate (%)  \
date
1987-01-01        3.724627            5.710119                    NaN
1987-01-02        3.724627            5.710119                    NaN
1987-01-03        3.724627            5.710119                    NaN
1987-01-04        3.724627            5.710119                    NaN
1987-01-05        3.724627            5.710119                    NaN

           Exchange Rate (USD)
date
1987-01-01                None
1987-01-02                None
1987-01-03                None
1987-01-04                None
1987-01-05                None

load the data

In [35]:
file_path ='../data/BrentOilPrices.csv'
data_extracter.load_oil_prices_from_csv(file_path=file_path)

c:\Users\Firew Ayele\Desktop\kifiya\Birhan_Energies\scripts\utils.py:76: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  self.oil_prices = pd.read_csv(file_path, parse_dates=['Date'], index_col='Date')

Oil prices loaded successfully.
            Price
Date
1987-05-20  18.63
1987-05-21  18.45
1987-05-22  18.55
1987-05-25  18.60
1987-05-26  18.63

In [36]:
data_extracter.merge_data()

Data merged successfully, maintaining only dates from oil prices data.
            GDP Growth (%)  Inflation Rate (%)  Unemployment Rate (%)  \
Date
1987-05-20        3.724627            5.710119                    NaN
1987-05-21        3.724627            5.710119                    NaN
1987-05-22        3.724627            5.710119                    NaN
1987-05-25        3.724627            5.710119                    NaN
1987-05-26        3.724627            5.710119                    NaN

           Exchange Rate (USD)  Price
Date
1987-05-20                None  18.63
1987-05-21                None  18.45
1987-05-22                None  18.55
1987-05-25                None  18.60
1987-05-26                None  18.63
Merged data saved to 'merged_data.csv'.

In [37]:
merged_data =pd.read_csv('merged_data.csv')
merged_data.head()

,Date,GDP Growth (%),Inflation Rate (%),Unemployment Rate (%),Exchange Rate (USD),Price
0,1987-05-20,3.724627,5.710119,NaN,NaN,18.63
1,1987-05-21,3.724627,5.710119,NaN,NaN,18.45
2,1987-05-22,3.724627,5.710119,NaN,NaN,18.55
3,1987-05-25,3.724627,5.710119,NaN,NaN,18.60
4,1987-05-26,3.724627,5.710119,NaN,NaN,18.63

In [38]:
# Check for missing values and data types
print(merged_data.info())
print(merged_data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9011 entries, 0 to 9010
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   9011 non-null   object
 1   GDP Growth (%)         9011 non-null   float64
 2   Inflation Rate (%)     9011 non-null   float64
 3   Unemployment Rate (%)  8086 non-null   float64
 4   Exchange Rate (USD)    0 non-null      float64
 5   Price                  9011 non-null   float64
dtypes: float64(5), object(1)
memory usage: 422.5+ KB
None
       GDP Growth (%)  Inflation Rate (%)  Unemployment Rate (%)  \
count     9011.000000         9011.000000            8086.000000
mean         3.003393            4.783513               6.009630
std          1.595069            2.449660               0.393045
min         -2.932043            1.443857               4.996340
25%          2.642216            2.860449               5.899677
50%          3.123870            3.836573               6.048849
75%          3.929714            7.113407               6.265528
max          6.259851           10.247936               6.585288

       Exchange Rate (USD)        Price
count                  0.0  9011.000000
mean                   NaN    48.420782
std                    NaN    32.860110
min                    NaN     9.100000
25%                    NaN    19.050000
50%                    NaN    38.570000
75%                    NaN    70.090000
max                    NaN   143.950000

In [39]:
data =merged_data.drop(columns=['Exchange Rate (USD)'])
data.dropna(inplace=True)
data

,Date,GDP Growth (%),Inflation Rate (%),Unemployment Rate (%),Price
925,1991-01-02,1.255826,8.996939,4.996340,26.78
926,1991-01-03,1.255826,8.996939,4.996340,25.05
927,1991-01-04,1.255826,8.996939,4.996340,24.08
928,1991-01-07,1.255826,8.996939,4.996340,25.93
929,1991-01-08,1.255826,8.996939,4.996340,25.73
...,...,...,...,...,...
9006,2022-11-08,3.089607,7.967574,5.264616,96.85
9007,2022-11-09,3.089607,7.967574,5.264616,93.05
9008,2022-11-10,3.089607,7.967574,5.264616,94.25
9009,2022-11-11,3.089607,7.967574,5.264616,96.37
9010,2022-11-14,3.089607,7.967574,5.264616,93.59